* {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(100deg , #000000, #555555, #AAAAAA, #FFFFFF);
  gap: 32px;


} 

.title-container {
  position: relative;
}

.page-title {
  font-weight: 600;
  text-align: center;
  font-size: 32px;
    
    
}

.page-title span {
   color: #22579c;
}

.arrow-detail {
  position: absolute;
  right: -90%;
  height: 130px;
  transform: rotate(-10deg);
}

.qr-code-container {
  background-color: #f8fafc;
  padding: 12px;
  border-radius: 12px;
  display:  flex;
  gap: 12px;
  width: 900px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.5) ;
}

.qr-code, .qr-code-customization {
  background-color:  #ffffff;
  padding: 18px;
  border-radius: 12px;
  width: 50%;
}

.qr-code {
  display: flex;
  flex-direction: column;
  gap: 10px;


  
}

.link-input {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


.link-input label {
  font-weight: 600;
  font-size: 14px;
}

.qr-code input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;

  &:focus {
    outline: 1px solid #22579c;
  }
}

.qr-code-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}


.qr-code-costumization {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.customization-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.input-container .colors {
  flex-direction: row;
}


.input-color {
  border: none;
  background-color: transparent;
  height: 30px;
  width: 60%;
  border-radius: 12px;
  cursor: pointer;
  margin-left:  10px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 2px;

}

.input-box label {
  font-weight: 700;
  font-size: 14px;
}

.input-file{
  opacity: 0;
  position: absolute;
  z-index: 2;
  height: 60px;
  cursor: pointer;
}

.input-file-button {
  position: relative;
  z-index: 1;
  background-color: #4f46e5;
  border: none;
  padding: 8px 12px;
  color: #fff;
  border-radius: 12px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  width: fit-content;
  transition: backgrount-color 0.3s ease;   

  &:hover {
    opacity: 0.8;
  }

}

#logoSixe {
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border: none;
  border-radius: 12px;
}

.download-button {
  background-color: #4f46e5;
  color: #ffff;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;


  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 910px) {
  .container {
    padding: 32px 5%;
    gap: 16px;

  }
  .arrow-detail {
    display: none;
  }

  .qr-code {
    width: 100%;
  }

  .qr-code-customization {
    width: 100%;
    gap: 12px;

  }

  .qr-code-container{
    flex-direction: column;
    width: 100%;
      }
}